.title{
    font-weight: 700;
    font-size: 48px;
    color: black;
   
    margin-bottom: 100px;
    padding-top: 30px;
    font-family: "Candal", sans-serif;
text-transform: uppercase;  
}