.header{
margin-top: 20px;
margin-bottom: 20px;

}
.nav{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}
.logo{
    font-family: "Candal", sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: black;
    text-decoration: none;
}
.menu{
    display: flex;
    gap: 24px;
    a{
    color: black;
text-decoration: none;
}

}
.search{
    max-width: 570px;
    width: 100%;
    padding: 15px;
    border-radius: 62px;
    background-color: #f0f0f0;
    border: none;

    background-image: url(/search.svg);
background-repeat: no-repeat;
background-position:  20px;
padding-left: 52px;


}